@media screen and (max-width: 768px){
    h2 {
        font-size: 1.5em;
    }
    .active_desc {
        size: 1.5em;
    }
    img {
        width: calc(100% - 5px);
        height: 100%;
    }
}

@media screen and (max-width: 600px){
    h2 {
        font-size: 1.8em;
    }
    .active_desc {
        size: 1.2em;
    }
    img {
        width: calc(100% - 5px);
        height: 100%;
    }
    ul hr {
        width: 200px;
    }
}

@media screen and (max-width: 480px){
    h2 {
        font-size: 2em;
    }
    .active_desc {
        size: 1em;
    }
    img {
        width: calc(100% - 5px);
        height: 100%;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-elem {
        max-width: calc(100% - 0px);
    }

    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar li {
        background-color: transparent;
        border: none;
        position: relative;
    }

    li button {
        background-color: transparent;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
    }
    ul hr {
        display: block;
        width: 200px;        
    }
}